*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

body{
    margin: 50px;
}

#homePage
{
    display:  block;
}


#newUserPage{
    display: none;
}
#existingUserPage{
    display: none;
}

#medicinePage{
    display: none;
}

#requiredCount
{
    display: none;
}

#historyDisplay{
    display: none;
}

button{
    width: 10rem;
    height: 2rem;
    margin-right: 1rem;
    border:  0px solid white;
    background-color: orangered;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

input{
    margin-bottom: 20px;
}

#menu ul{
    list-style: none;
    display: flex;
}
th, td{
    border-style: solid;
    border-collapse: collapse;
    border-color: rgb(255, 0, 0);
    padding: 1rem;
}
