*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

body{
    margin: 50px;
}

#homePage
{
    display:  block;
}

#medicinePage, #medicineForm, #medicineFormEdit, #existingUserPage, #newUserPage, #medicineDetailsPage, #recharge{
    display: none;
}


button{
    width: 10rem;
    height: 2rem;
    margin-right: 1rem;
    border:  0px solid white;
    background-color: orangered;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

input{
    margin-bottom: 20px;
}

#menu ul{
    list-style: none;
    display: flex;
}
#editForm table, #medicineForm table {
    border-style: none;
    border-collapse: collapse;
    padding: 1rem;
}
th, td{
    padding: 1rem;
}
table{
    border-style: none;
    border-collapse: collapse;
    padding: 1rem;
}
